@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.scrollbar-hide{
    -ms-overflow-style:none;
    scrollbar-width: none;
}

.blog-content{
    padding: 36px 0;
}

.blog-content b {
    margin-bottom: 10px;
    font-weight: 500;
}

.blog-content h1 {
    margin-bottom: 10px;
    font-weight: 700; /* Boldest */
    font-size: 26px; /* Example size for h1 */
}

.blog-content h2 {
    margin-bottom: 10px;
    font-weight: 600; /* Slightly less bold */
    font-size: 22px; /* Example size for h2 */
}

.blog-content h3 {
    margin-bottom: 10px;
    font-weight: 500; /* Same as bold text */
    font-size: 18px; /* Example size for h3 */
}

.blog-content p {
    margin-bottom: 10px;

}

.blog-content a {
    color: blue;
    text-decoration: underline;
    font-size: 1rem; 
}

.blog-content ul, 
.blog-content ol {
    margin-bottom: 10px;
    padding-left: 20px;
}

.blog-content li {
    margin-bottom: 5px;
}